.tooltip-container {
  position: relative;
}

.tooltip-content {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 6px;
  font-size: 12px;
  color: #000;
  padding: 8px 12px;
  white-space: nowrap;
  transition: all 0.3s;
}
